/**
 * MYSQL SETTINGS
 * @type {string}
 */
var MYSQL_HOST = '<%= mysql_host %>';
var MYSQL_USER = '<%= mysql_user %>';
var MYSQL_PASSWORD = '<%= mysql_password %>';
var MYSQL_DB = '<%= mysql_db %>';
var DB_PREFIX = 'wp_';

var SITE_NAME = '<%= siteName %>';
var SITE_USERNAME = '<%= username %>';
var SITE_PASSWORD = '<%= password %>';
var SITE_EMAIL = '<%= email %>';
var SITE_SEARCH = false;

var MIGRATE_KEY = "<%= migrateKey %>";

var TEST_ENV = '<%= testEnv %>';

var DEPLOY_CONFIG = {
        local : '<%= deploySite %>',
        dev   : '<%= dbCloneSite %>',
        auth  : {username: '<%= dbCloneBasicAuthUser %>', password: '<%= dbCloneBasicAuthPass %>' }
};